/* BACKGROUND neon cinematic */
body,.stApp{
    background:linear-gradient(135deg,#0a0020,#30004b,#550066,#8a00a8);
    background-size:350% 350%;
    animation:bgflow 12s infinite alternate;
    color:white!important;
}
@keyframes bgflow{0%{background-position:0%}100%{background-position:100%}}

/* HEADER */
.main-title{text-align:center;font-size:40px;font-weight:900;
color:#ff4dff;text-shadow:0 0 25px #ff00fb}

/* TABS */
.stTabs [data-baseweb=tab]{font-size:18px!important;color:#ffe6ff!important}
.stTabs [aria-selected=true]{background:#ff00c88c!important;color:white!important}

/* RESULT BADGE */
.result-circle{
    width:170px;height:170px;border-radius:50%;display:flex;align-items:center;justify-content:center;
    font-size:20px;font-weight:900;margin:20px auto;
}
.real-badge{background:#11ff85;box-shadow:0 0 25px #00ffbb}
.fake-badge{background:#ff0059;box-shadow:0 0 25px #ff3366}

/* DASHBOARD CARDS */
.stats-container{display:flex;flex-wrap:wrap;gap:25px;justify-content:center;margin-top:15px}
.card{
    background:#22003a;border:1px solid #ff77ff8c;border-radius:15px;padding:18px;width:240px;
    text-align:center;box-shadow:0 0 22px #ff00ff44 inset;
}
.card h3{color:#ffb3ff;font-size:16px}
.card p{font-size:28px;font-weight:900}

/* TABLE */
.stDataFrame,.dataframe{background:#150026aa;border-radius:12px}
img{border-radius:10px;box-shadow:0 0 12px #ff00ff88;max-width:450px!important}
